nav#navbar.navbar.navbar-expand-sm.fixed-top.bg-body-tertiary.border-bottom
  .container
    a.navbar-brand(href='/') Zero-Knowledge Proof Demo
    button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarCollapse', aria-controls='navbarCollapse', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
