nav#navbar.navbar.navbar-expand-sm.fixed-top.bg-body-tertiary.border-bottom
  .container
    a.navbar-brand(href='/')
      img.d-inline-block.align-text-top(src='/img/r-1024.png', alt='Logo', width=64, height=64)
    button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarCollapse', aria-controls='navbarCollapse', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    .collapse.navbar-collapse#navbarCollapse
      ul.navbar-nav.me-auto.mb-2.mb-md-0
      ul.navbar-nav.justify-content-end
        li.nav-item
          a.nav-link.disabled(aria-disabled=true) Administrator
