/* Custom map styles for map and zoom controls */
#map {
  width: 100%;
  height: 70vh;
  min-height: 400px;
}

.card {
  height: calc(70vh + 58px);
  min-height: 458px;
}

.jvectormap-container {
  width: 100% !important;
  height: 100% !important;
}
.jvectormap-zoomin, .jvectormap-zoomout {
  left: auto;
  right: 15px;
  width: 16px;
  height: 16px;
  line-height: 16px;
  background: #999;
  font-size: 14px;
  border: 1px solid #777;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.jvectormap-zoomin {
  top: auto;
  bottom: 50px;
}

.jvectormap-zoomout {
  top: auto;
  bottom: 15px;
}
