/* Custom map styles for map and zoom controls */
html, body {
  height: 100%;
}

.container {
  height: calc(100% - 20rem);
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.navbar .container {
  display: block;
}

.navbar-brand {
  text-align: left;
  margin-right: auto;
}

.card {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#map {
  width: 100%;
  flex: 1;
  position: relative;
}

.jvectormap-container {
  width: 100% !important;
  height: 100% !important;
  position: relative;
  overflow: visible !important;
}

.jvectormap-zoomin, .jvectormap-zoomout {
  left: auto;
  right: 15px;
  width: 16px;
  height: 16px;
  line-height: 16px;
  background: #999;
  font-size: 14px;
  border: 1px solid #777;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
}

.jvectormap-zoomin {
  top: auto;
  bottom: 50px;
}

.jvectormap-zoomout {
  top: auto;
  bottom: 15px;
}
